<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>549007861206-b0dd4juk2ge6449cmssiugp3vmfio18v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.549007861206-b0dd4juk2ge6449cmssiugp3vmfio18v</string>
	<key>API_KEY</key>
	<string>AIzaSyBZ-YX8Ejz9DRR_PucYUc-VbG-3v2UrvL0</string>
	<key>GCM_SENDER_ID</key>
	<string>549007861206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mysoft.ios-myinsta</string>
	<key>PROJECT_ID</key>
	<string>ios-myinsta-29eed</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-myinsta-29eed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:549007861206:ios:738d171d5557e77086f077</string>
</dict>
</plist>